aiohttp==3.8.6
alembic==1.13.1
anyio==3.7.1
asgiref==3.7.2
asyncmy==0.2.9
fastapi==0.110.0
pydantic==2.11.2
pydantic_core==2.33.1
pydantic-settings==2.8.1
SQLAlchemy==2.0.25
typer==0.9.0
uvicorn==0.25.0
httpx==0.26.0
python-dotenv==1.0.0
passlib==1.7.4
bcrypt==4.0.1
PyMySQL==1.1.0
greenlet==3.1.1
cryptography==42.0.5